<li id="question_<%= r.object.question.id %>" class="td-answer">
  <p><%= r.object.question.question %></p>
  <% r.object.question.answers.each do |a| %>
    <div>
      <%= r.check_box :multiple_answers,
        {checked: r.object.multiple_answers.include?(a.id.to_s),
        multiple: true}, a.id, false %>
      <%= a.answer %><br/>
    </div>
  <% end %>
  <div class="clearfix"></div>
</li>
