<footer class="footer">
  <small>
    <a href="http://www.railstutorial.org/"><%= t :rails %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(:about), "#" %></li>
      <li><%= link_to t(:contact), "#" %></li>
      <li><a href="http://news.railstutorial.org/"><%= t :new %></a></li>
    </ul>
  </nav>
</footer>
